@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
:root {
  color-scheme: dark;
  font-family: Inter, system-ui, sans-serif;
}
body {
  margin: 0;
}
#root {
  min-height: 100vh;
}
